$c-white: #fff;
$c-white-soft: #f8f8f8;
$c-white-mute: #f2f2f2;

$c-black: #181818;
$c-black-soft: #222222;
$c-black-mute: #282828;

$c-indigo: #2c3e50;

$c-gray1: rgba(60, 60, 60, 0.29);
$c-gray2: rgba(60, 60, 60, 0.12);

$c-red1: rgb(211, 90, 90);
$c-green1: rgb(64, 160, 64);